<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TiendaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TiendaSoap1" />
                <binding name="TiendaSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="TiendaSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44315/Servicios/Tienda.asmx"
                binding="basicHttpBinding" bindingConfiguration="TiendaSoap"
                contract="ServiceReference1.TiendaSoap" name="TiendaSoap" />
            <endpoint address="https://localhost:44315/Servicios/Tienda.asmx"
                binding="basicHttpBinding" bindingConfiguration="TiendaSoap2"
                contract="ServiceReference2.TiendaSoap" name="TiendaSoap1" />
        </client>
    </system.serviceModel>
</configuration>